*{
  box-sizing: border-box;
  }

body {
  margin-left: 20px;
  font-family: sans-serif;
  background:#ccc;
  max-width: 960px;
}
.text_1 {
  width: 400px;
  height: 150px;
}
.time_line {
  text-align: left;
}
h1 {
  color:blue;
}
input {
  width: 10%;
}
.tweets
{
  width: 540px;
} 

.footer{
position: fixed;
left: 0;
bottom: 0;
}