
body, html {
  height: 100%;
}

body{
  background-color: #22181c;
}


.home-image-bg{
  background-image: url("images/cinema-seats-BY-lloyd-dirks-74271.jpg");
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.site-name{
  font-family: "Cookie";
  color: #ef626c;
  font-size: 50px;
}
.centering{
  text-align: center;
  align:center;
}

form{
  align-self: center;
}
#queryInput{
  height: 8vh;
  width: 50vw;
  background-color: #f6e8ea;
  color: #312f2f;
  padding: 10px;
}

.submitButton{
  margin-top: 10px;
  background-color: #312f2f;
  color: #f6e8ea;
  font-family: "Cookie";
  padding-right: 20px;
  padding-left: 20px;
}

.not-first-search{
  display: none;
  background-color: #22181c;
}

.resultsItem{
  background-color: #f6e8ea;
}

.notInitialSearch{
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 767px){
  .mobile-centering{
    text-align: center;
    align: center;
  }
}
