body{
  margin: 0;
}

.searchBar{
  background-color: #CCC;
}

form{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.searchButton{
  width: 100px;
}

.results{
  background-color: skyBlue;
  min-height: 400px;
}

.movieCard{
  text-align: center;
  border: 2px solid #000;
}

.movieCard:nth-child(even){
  background-color: lightBlue;
}

.noResult{
  text-align: center;
  border: 2px solid #000;
}

img{
  max-width: none;
}
