body {
	margin: 0;
	color: #fff;
}

h1, h2, h3 {
	background: transparent;
	color: #000;
}

h1 {
	font-family: 'Bungee Shade', cursive;
}

p, div, span, form {
	background: transparent;
	color: #000;
}

p, div, span, form, input {
	font-family: 'Oxygen', sans-serif;
}

div[class^='col-'] {
	border: 1px solid black !important;
	padding: 0;
}

/* 
Bootstrap sizes 
Extra small <576px
Small ≥576px
Medium ≥768px
Large ≥992px
Extra large ≥1200px

*/

@media (min-width: 768px) {
	h1 {
		font-size: 3.5em;
	}	
}

@media (max-width: 767px) {
	h1 {
		font-size: 2.5em;
	}	
}

@media (max-width: 575px) {
	h1 {
		font-size: 1.75em;
	}	
}

.siteTitle {
	padding: 1.5em !important;
	background-image: url(images/header-background.jpg);
}

.siteTitle h1 {
	width: 9em;
	background: #000;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	padding: 0.25em 0;
	border-top-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

#searchForm, .sidebar p {
	padding: 1em;
}

#searchForm input[type=text] {
	color: #aaa;
	background: #fff;
	border: 1px solid #999;
	padding: 0 0 0 0.5em;
	border-top-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

#searchForm input[type=submit] {
	color: #000;
	background: #fff;
	border: 1px solid #999;
	border-top-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.sidebar p {
	font-size: 0.8em;
}

#resultList {
	margin: 1em 0;
}
#resultList li {
	font-size: 0.9em;
}