/* font-family: 'Source Sans Pro', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Search form  */
.search-form {
  margin-bottom: 60px;
}

/* Movies list */
.movie-list-wrapper {
  display: grid;
  grid-template-columns: 200px auto;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #f1f1f1;
}

.movie-info__moreinfo {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #f1f1f1;
}

.movie-info__imdb-link {
  display: block;
}

.movie-poster img {
  width: 100%;
  max-width: 150px;
}

/* Movie more info details */
ul.movie-info__moreinfo-details {
  list-style-type: none;
  padding-left: 0;
}
