body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}

* {
    box-sizing: inherit;
}

input {
    height:2rem; 
    font-size: 1rem;
    padding: 0.3rem;
    width: 12rem;
    border: none;
    box-sizing: border-box;
    background-color: #fafafa; 
}

input[type=text]:focus {
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #ddd;
    margin: 0;
    padding: 1rem;
    vertical-align: middle;
}

main {
    padding: 1rem 0 0 1rem;
    font-size: 1rem;
    margin: 0;
}

.main-header {
    margin: 0;
    font-size: 1.3rem;
    padding-top: 0.4rem;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 0.2rem;
}

.page-number-link {
    padding: 0.5rem;
    margin: 0.2rem;
    border: 1rem;
    background-color: rgb(100, 100, 100);
    color: white;
}

a.page-number-link {
    text-decoration: none;
    border-radius: 3px;
    opacity: 0.7;
}

.page-number-link.active {
    opacity: 1;
}

a.page-number-link:hover {
    text-decoration: none;
    border-radius: 3px;
    opacity: 1;
}

.results-pages {
    padding: 1rem 0;
}

.results-list {
    padding-top: 1rem;
}
